* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
.navigation_bar {
  text-shadow: 5px 2px 5px black;
  position: relative;
  width: 100%;
  height: 100px;
  /* background-color: grey; */
}
.nav_content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.nav_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.school {
  display: flex;
  width: 400px;
  height: 100%;
  margin-left: 40px;
}
.nav_list {
  display: flex;
  list-style: none;
  color: white;
  margin-right: 20px;
}
.nav_list li {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
.home_image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 10% 90%;
}
.introduce_bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 350px;
  /* background-color: red; */
}
.introduce {
  position: relative;
  top: -100px;
  width: 20%;
  height: 450px;
  padding: 30px;
  background-color: whitesmoke;
}
.intro_icon {
  text-align: center;
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}
div.introduce h1 {
  font-size: 30px;
  text-align: center;
}
div.introduce p {
  text-align: justify;
  font-size: 15px;
  line-height: 20px;
}
.main_container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: white;
  /* border: 1px black solid; */
}
.post_area {
  width: 66.66%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  /* background-color: burlywood; */
}
.post_area h1 {
  width: 90%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 3px grey;
}
.sidebar_area {
  width: 33.34%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 28px;
  /* background-color: rosybrown; */
}
.sidebar_area h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 3px grey;
}
.post {
  display: flex;
  border-bottom: black dashed 1px;
  width: 90%;
  height: 180px;
  margin-bottom: 20px;
  /*background-color: black;*/
}
.image_area {
  width: 30%;
  height: 90%;
}
.content_area {
  display: inline-block;
  width: 70%;
  height: 90%;
  padding-left: 10px;
}
.image_area img {
  width: 100%;
  height: 100%;
  object-fit: unset;
}
.content_area h3 {
  padding: 4px;
  color: white;
  text-align: center;
  background-color: grey;
  margin-bottom: 10px;
}
.content_area p {
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
}
.credit {
  text-align: left;
  line-height: 20px;
  font-size: 13px;
  font-style: italic;
}
.post_area div.post:last-child {
  border-bottom: 0;
}
.sidebar_area h3 {
  font-size: 20px;
  color: white;
  background-color: grey;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.sidebar_area ul {
  margin-bottom: 10px;
  font-size: 25px;
  padding-left: 4px;
}
.sidebar_area li {
  font-size: 20px;
  margin-top: 5px;
}
.web_footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 600px;
}
.web_footer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer_content {
  text-shadow: 5px 2px 5px black;

  position: absolute;
  width: 90%;
  height: 100%;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_content input[type="email"] {
  outline: none;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
  width: 82%;
  background: none;
  border: none;
  border-bottom: 1px solid #999;
}
.footer_content input[type="submit"] {
  outline: none;
  color: #fff;
  padding: 10px 0;
  font-size: 1.5em;
  width: 15%;
  background: #ec9114;
  border: none;
  text-transform: uppercase;
  margin-left: 1em;
}
.contact_infor {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 30px;
  color: white;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.contact_infor ul {
  line-height: 50px;
  font-size: 18px;
}
.contact_infor ul li i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  margin-right: 5px;
}
.social_network {
  display: inline-block;
  margin-right: 20px;
  color: white;
}
.footer_content h3 {
  margin-top: 10px;
  font-size: 15px;
}
